.modal-button {
    position: absolute;
    width: 273px;
    height: 41px;
    left: 97px;
    top: 164px;
    background-color: #C4C4C4;
    ;
}


.user-dashboard {
    background-color: white;
}

.space-icon {
    margin-right: 10px;
}

.form-font {
    font-family: "Open Sans", sans-serif;
}

.divs {
    font-size: 30px;
}

.edit-delete {
    display: flex;
    justify-content: center;
}

.edit-delete button  {
    padding: 0 50px 0 50px;
    border: none;
}

.todo-list {

    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-gap: 20px;
    margin-top: 90px;
    margin-left: 450px;

    border-radius: 4px;


    /* background: #e8e8e8; */

    /* 
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
   
    */


    /* align-items: flex-start;
    flex-wrap: wrap;
    height: 100%; */
}


.todo-list-admin {

    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-gap: 20px;
    margin-top: 90px;
    margin-left: 50px;

    border-radius: 4px;


}
/* .todo {

    
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    margin-left: 150px; 


    position: absolute;
     width: 273px;
    height: 356px;


}  */

.card-banner {
    width: 100%;
    height: 30px;
    background: #27496D;
    border-radius: 4px 4px 0px 0px;
}


.card-body {
    background: rgba(196, 196, 196, 0.35);
}

.card-body .card-title {
    font-size: 15px;
}

.card-body .card-text {
    font-size: 12.8px;
}

.card-body .card-img-top {
    margin: 40px 40px;
}